<style media="screen" type="text/css">

html {

	background-color: #222;
	
}

main {
	width: 95%;
	margin: auto;
}

p {
color:#000;
font-size: 1.5em;
width: 75%;
margin:auto;
padding-bottom: 2em;
}

h1{

font-size: 5em;
text-align: center;
color: #000;
}
