<style media="screen" type="text/css">

html {

	background-color: #222;
	
}

section#story p {
color:#fff;
font-size: .75em;
}

section#title h1{

font-size: 3em;
text-align: center;
text-color: #fff;
}
